.container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #CCCCCC;
  // 顶部栏
  .topBar{
    position: relative;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    background-color: #FFFFFF;
    .close{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 40px;
      height: 25px;
      background-image: url("../../assets/img/返回.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 25px;
      transition: all .2s;
    }
    .iconMore{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("../../assets/img/更多.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      transition: all .2s;
      &:active{
        width: 40px;
        height: 40px;
        background-color: #666666;
        border-radius: 10px;
      }
    }
  }
  // 消息列表
  .messageList{
    width: 100%;
    overflow: scroll;
    background-color: #363749;
    padding-top: 10px;
    box-sizing: border-box;
    padding-bottom: 10px;
    li{
      margin-bottom: 55px;
    }
    // 左边消息框
    .leftMessageBox{
      display: flex;
      justify-content: flex-start;
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 5px;
      position: relative;
      img{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 59%;
        object-fit: cover;
        border: #FFFFFF 2px solid;
      }
      .infoBox{
        margin-left: 60px;
        position: relative;
        width: 100%;
        // 信息框的头信息
        label{
          color: #FFFFFF;
          width: 100%;
          display: inline-block;
          text-align: center;
          font-size: 13px;
          line-height: 16px;
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          span{
            position: absolute;
            width: 95px;
            height: 16px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            left: 0;
            text-align: left;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
          }
          margin-bottom: 5px;
        }
        div{
          position: absolute;
          line-height: 25px;
          padding: 10px 20px 10px;
          width:auto;
          // height: 30px;
          text-align: left;
          font-weight: bold;
          margin: 0;
          // background-color: white;
          background-image: linear-gradient(to right,#ee9ca7,#ffdde1);
          border-radius: 0 20px 20px 20px;
        }
      }
    }
    // 右边消息框
    .rightMessageBox{
      @extend .leftMessageBox;
      justify-content: flex-end;
      padding-right: 58px;
      img{
        right: 7px;
      }
      .infoBox{
        margin: 0 10px 0;
        // 信息框的头信息
        label{
          
          span{
            left: unset;
            right: 0;
            text-align: right;
          }
          margin-bottom: 5px;
        }
        div{
          right: 0;
          background-image: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);
          border-radius: 20px 0 20px 20px;
        }
      }
    }
  }
  // 底部栏
  .bottomBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 68px;
    background-color: #FFFFFF;
    // box-shadow:0 0 5px 3px #6666CC;
    input{
      width: 60%;
      height: 40px;
      border-radius: 20px;
      background-color: #cccccc;
      // box-shadow:0 0 10px 1px #3399CC;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: bold;
      padding:0 5% 0;
      &:focus{
        border: 1px solid #3399CC;
      }
    }
    span{
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 5px 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size:30px;
      transition: all .2s;
      &:active{
        border-radius: 50%;
        background-color: #666666;
      }
    }
    span:nth-of-type(1){
      background-image: url("../../assets/img/图片.png");
    }
    span:nth-of-type(2){
      background-image: url("../../assets/img/表情.png");
    }
    span:nth-of-type(3){
      background-image: url("../../assets/img/发送.png");
    }
  }
}