// 每个list
.list_item{
  width: 70px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .link{
    display: inline-block;
    width: 70px;
    // line-height: 40px;
    // color: black;
    color: lavender;
    // font-weight: bold;
    text-decoration: none; //文本装饰
    transition: all .2s linear;
    border-radius: 5px;
  }
    // 点击时的样式
  .active{
    font-weight: bold;
    color: #FF6600;
    border-radius: 5px;
  }
  img{
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  span{
    display:block;
    // height: 20px;
    font-size: 15px;
  }
}