// 每个list
.list_item{
  width: 70px;
  line-height: 40px;
  .link{
    display: inline-block;
    width: 70px;
    line-height: 40px;
    // color: black;
    color: lavender;

    font-weight: bold;
    text-decoration: none; //文本装饰
    transition: all .2s linear;
    border-radius: 10px;
  }
    // 点击时的样式
  .active{
    border-radius: 10px;
    color: #FF6600;
    background-color: skyblue;
    border-radius: 10px;
  }
}