.register_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/登录背景.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // 顶部栏
  .topBar {
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .back_btn {
      display: inline-block;
      position: absolute;
      left: 10px;
      width: 30px;
      height: 30px;

      background: {
        image: url("../../assets/img/返回.png");
        position: left;
        repeat: no-repeat;
        size: 30px;
      }

      ;
    }
  }

  // 显示欢迎
  .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    margin-left: 3%;
    div {
      width: 60%;

      hr {
        height: 1px;
        background-color: black;
        border: none;
        margin: 4px 0;
      }
    }

    img {
      margin-right: 5%;
      width: 30%;
      height: 30%;
      border-radius: 25px;
      // border: 2px solid black;
      // border-radius: 25px;
    }
  }

  // 注册框
  .register_input {
    margin: 4% 3% 0 3%;
    border-radius: 5px;
    padding: 35px 6% 35px 6%;
    // background-color: rgba($color: #242424, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    ul {
      width: 100%;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;

        label {
          font-weight: bold;
          margin-bottom: 5px;
          font-size: 20px;
          color: white;
        }

        input {
          border: none;
          height: 45px;
          font-size: 18px;
          outline: none;
          transition: all .1s linear;
          background-color: unset;
          border-bottom: 2px black solid;
          &:focus {
            border-bottom: 2px #722ed1 solid;
          }
        }
      }
    }
  }

  // 确认按钮
  .confirm_btn {
    position: absolute;
    margin: auto;
    transform: translateY(60%);
    left: 0;
    right: 0;
    width: 80%;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: #237804;
    transition: all .2s linear;

    &:active {
      background-color: beige;
    }
  }
}