.footer{
  position: fixed;
  bottom: 0;
  height: 68px;
  width: 100%;
  background-color: #363749;
  box-sizing: border-box;
  text-align: center;
  .navList{
    display: flex;
    // width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
