.container{
  background-color: #f5f5fa;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  // 消息标题栏
  .messageTitle{
    width: 100%;
    height: 90px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    .titleItem{
      width: 70px;
      height: 85px;
      padding-bottom: 5px;
      // background-color: palevioletred;
      span{
       display: inline-block;
       margin-top: 5px;
       width: 60px;
       height: 60px;
       background-color: #99CCFF;
       border-radius: 25px;
       background-image: url("../../assets/img/好友消息.png");
       background-position: center;
       background-size: 50px;
       background-repeat: no-repeat;
      }
      &::after{
        font-size: 13px;
        font-weight: bold;
        display: block;
        content: "好友消息";
      }
    }
    .active{
      border-bottom: 3px solid black;
    }
    .titleItem2{
      @extend .titleItem;
      span{
       background-color: #FFFFCC;
       background-image: url("../../assets/img/喜欢.png");
      }
      &::after{
        content: "收到的喜欢";
      }
    }
    .titleItem3{
      @extend .titleItem;
      span{
        background-color: #FFCC99;
        background-image: url("../../assets/img/点赞.png");
      }
      &::after{
        content: "收到的点赞";
      }
    }
  }
}