.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  .titleBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    span{
      position: absolute;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      z-index: 10000;
      &::before{
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;
        background-image: url("../../assets/img/返回.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
      }
    }
    h3{
      width: 100%;
      text-align: center;
    }
  }
}