.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #CCCCCC;

  // 顶部栏
  .topBar {
    position: relative;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #FFFFFF;

    .close {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 40px;
      height: 25px;
      background-image: url("../../assets/img/返回.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 25px;
      transition: all .2s;
    }

    .iconMore {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url("../../assets/img/更多.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      transition: all .2s;
    }

    // 悬浮菜单
    .floatMenus {
      position: absolute;
      right: 10px;
      top: 55px;
      background-color: whitesmoke;
      z-index: 1000;
      font-size: 14px;
      border-radius: 10px;
      padding: 5px;

      li {
        padding: 0px 5px 0px;
        letter-spacing: 3px;
        text-indent: 3px;
        border-radius: 10px;
        // font-weight: bold;

        &:active {
          color: #FF9966;
        }
      }
    }

    .menusHide {
      display: none;
    }
  }

  // 消息列表
  .messageList {
    flex: 1;
    width: 100%;
    overflow: scroll;
    padding: 10px 0 10px;
    background-color: #363749;

    li {
      margin-bottom: 20px;
    }

    // 左边消息框
    .leftMessageBox {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 5px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 59%;
        object-fit: cover;
        border: #FFFFFF 2px solid;
        margin-right: 5px;
      }

      .infoBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        // 信息框的头信息
        label {
          color: #FFFFFF;
          width: 100%;
          font-size: 13px;
          line-height: 16px;
          padding: 0 5px 0px 0px;
          box-sizing: border-box;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          span {
            &:nth-of-type(1) {
              width: 120px;
              height: 16px;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
              font-weight: bold;
              font-size: 16px;
              line-height: 16px;
            }
          }

          margin-bottom: 8px;
        }
        // 消息框
        div {
          padding: 10px 20px 10px;
          width: auto;
          line-height: auto;
          text-align: left;
          // font-weight: bold;
          font-size: 15px;
          word-break: break-all; // 解决字母不换行问题
          margin: 0;
          // background-color: white;
          background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
          border-radius: 0 20px 20px 20px;
          & > img{
            border: unset;
            width: 22px;
            height: 22px; 
            object-fit: cover;
            margin-right: unset;
            margin-left: unset;
            vertical-align:middle;
          }
        }
      }
    }

    // 右边消息框
    .rightMessageBox {
      @extend .leftMessageBox;
      img{
        margin: 0 0 0 5px;
      }
      .infoBox {
        // 信息框的头信息
        align-items: flex-end;
        label {
          padding: 0 0 0 5px;
          justify-content: flex-end;
          span {
            &:nth-of-type(1) {
              width: unset;
              font-size: 13px;
              font-weight: unset;
              white-space: unset;
              overflow: unset;
              text-overflow: unset;
            }
            &:nth-of-type(2) {
              width: 120px;
              height: 16px;
              text-align: right;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: bold;
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
        div{
          border-radius: 20px 0px 20px 20px;
          background-image: linear-gradient(to right, #77A1D3, #79CBCA);
        }
      }
    }
  }

  // 底部栏
  .bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 10px 8px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #FFFFFF;

    // box-shadow:0 0 5px 3px #6666CC;
    .inputBox {
      width: 60%;
      border-radius: 5px;
      background-color: lightgrey;
      border: none;
      outline: none;
      font-size: 16px;
      // font-weight: bold;
      text-align: left;
      padding:  8px 10px 8px;
      overflow-y: hidden;
      resize: none;
    }

    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      transition: all .2s;

      &:active {
        border-radius: 50%;
        background-color: #666666;
      }
    }

    span:nth-of-type(1) {
      background-image: url("../../assets/img/图片.png");
    }

    span:nth-of-type(2) {
      background-image: url("../../assets/img/表情.png");
    }

    button{
      padding: 3px 10px 3px;
      border-radius: 5px;
      background-color: #009966;
      color: white;
      transition: all .3s ease-in-out;
      &:active{
        background-color: white;
      }
    }
  }
}